extends ../layouts/base
block content
  - var title = `${challenge[0].title}`;
  - if (title === 'undefined') {title = '-';};
  - var description = `${challenge[0].description}`;
  - if (description === 'undefined') {description = '-';};
  - var launch = `${challenge[0].launch}`;
  - if (launch === 'undefined') {launch = '-';};
  - var section = `${challenge[0].section}`;
  - if (section === 'undefined') {section = '-';};
  - var platform = `${challenge[0].platform}`;
  - if (platform === 'undefined') {platform = '-';};
  - var status = `${challenge[0].status}`;
  - if (status === 'undefined') {status = '-';};
  - var end = `${challenge[0].end}`;
  - if (end === 'undefined') {end = '-';};
  - var teams = `${challenge[0].teams}`;
  - if (teams === 'undefined') {teams = '-';};
  - var sponsor = `${challenge[0].sponsor}`;
  - if (sponsor === 'undefined') {sponsor = '-';};
  - var prize = `${challenge[0].prize}`;
  - if (prize === 'undefined') {prize = '-';};
  - var link = `${challenge[0].link}`;
  - if (link === 'undefined') {link = '-';};
  div.content
    div(class="content is-large")
      h1
        .is-orange Challenge Details
    div.box
      div.columns
        div.column.is-10
          h3= title
          p.subtitle= description
        div.column
          h3
            .is-orange= section
          p.subtitle= `$`+prize
      p
        a(href=link target="_blank") Visit challenge website
      div.columns
        div.column.is-2
          .cat Sponsor:
          p.value= sponsor
        div.column.is-2
          .cat Platform / Organizer
          p.value= platform

      p
      div.columns
        div.column.is-2
          .cat Launch:
          p.value= launch
        div.column.is-2
          .cat Deadline:
          p.value= end

    a(href="/discovery") <- Back
