extends ../layouts/base
block content
  div(class="content is-large")
    h1
      .is-orange Challenge Discovery
  div.content
    h3 Browse all challenges.
    br
    table.table
      thead
        tr
          th.table_head
            .subtitle.is-white Title
          th.table_head
            .subtitle.is-white Section
          th.table_head
            .subtitle.is-white Platform
          th.table_head
            .subtitle.is-white Status

      tbody
        each n,i in challenge
          - var title = `${challenge[i].title}`;
          - if (title === 'undefined') {title = '-';};
          - var section = `${challenge[i].section}`;
          - if (section === 'undefined') {section = '-';};
          - var platform = `${challenge[i].role}`;
          - if (platform === 'undefined') {platform = '-';};
          - var status = `${challenge[i].status}`;
          - if (status === 'undefined') {status = '-';};

          form(action="/user/dirchallenge" method="POST")
            input(type="hidden" id="title" name="title" value=`${challenge[i].title}`)
            tr
              td
                a
                  button.button.is-text-button.is-orange= title
              td= section
              td= platform
              td= status
