extends ../layouts/base

block content
  h1.title="Members Area"
  br
  p.subtitle="Already a member? "
    a(href="/login") Sign In
  br
  p.subtitle="Or, if you haven't done so yet "
    a(href="/activate") Activate your Account
  br
  p.subtitle="Not registered yet? "
    a(href="/join") Join The Club
  br
  p.subtitle="Want to learn more? Visit "
    a(href="https://www.solversclub.com", target="new") SolversClub.com
