extends ../layouts/base

block content
  h1.title="Members Area"
  br
  p.subtitle="Access beyond this point is restricted to Solvers Club members."
  br
  p.subtitle="Already a member? "
    a(href="/login") Sign In
  br
  p.subtitle="Not registered yet? "
    a(href="/register") Apply
  br
  p.subtitle="Want to learn more? Visit "
    a(href="https://www.solversclub.com", target="new") SolversClub.com
