mixin registerForm
  .box
    form(action="/user/add", method="post")
      .field
        label.label(for="fullname") First and Last Name
          small.is-grey="  (This will be displayed on your profile page.)"
        .control
          input.input(type='text' name="fullname" id="fullname" placeholder='First and Last Name' required)
      .field
        label.label(for="email") Email
          small.is-grey="  (You will receive login details here.)"
        .control
          input.input(type='email' name="email" id="email" placeholder='Email' required)

      .field
        label.label(for="username") Username
          small.is-grey="  (Required to access your account.)"
        .control
          input.input(type='text' name="username" id="username" placeholder='Username' required)


      .field
        label.label(for="password") Password
         small.is-grey="  (Required to access your account.)"
        .control
          input.input(type='password' name="password" id="password" placeholder='Password' required)


      .field
        label.label(for="section") Section
          small.is-grey="  (Please, choose the Section you are most interested in. You will be able to change this later.)"
        .control
          select.select(name="section" id="section" required)
            option.input(value="AI") Artificial Intelligence
            option.input(value="Cybersecurity") Cybersecurity
            option.input(value="Blockchain") Blockchain
            option.input(value="Engineering") Engineering
            option.input(value="Robotics") Robotics
            option.input(value="Biotechnology") Biotechnology

      br
      .field
        label.label(for="achievements") What have been your greatest competitive achievements so far?
        .control
          textarea.textarea(name="achievements" id="achievements" placeholder='Please describe briefly' required)
      br
      .field
        label.label(for="team") Why should anyone want to be in a team with you?
        .control
          textarea.textarea(name="team" id="team" placeholder='Please describe briefly' required)
      br
      .field
        label.label(for="how") How did you first hear from us?
        .control
          select.select(name="how" id="how" required)
            option.input(value="Social Media") Social Media
            option.input(value="Friends") Friends
            option.input(value="University") University
            option.input(value="Other") Other

      br
      .field
        .control
          button.button.is-link Create Account
